<div id="<%= dom_id profile %>">
  <p>
    
  <% if profile.avatar.attached? %>
    <%= image_tag(profile.avatar,size: "80x80")%> 
  <%end%>
  </p>
  <p>
    <strong><%=t'bio'%> :</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong><%=t'job'%> :</strong>
    <%= profile.job %>
  </p>

</div>
