<p style="color: green"><%= notice %></p>
<h3>comments : </h3>

<h3><%= t 'Post Comments'%> </h3>

<div class="card">
  <div class="card-body">
 <%= @comment.body %>
 </div>
 </div>
<br>
<div>

  <%= link_to "Edit Comment", edit_comment_path(@comment) ,class:"btn btn-primary" %>
  </div>

  <%= link_to t("Edit"), edit_comment_path(@comment) ,class:"btn btn-primary" %>  
  </div>
  <br>
  <%= link_to t("Back to comments"), comments_path ,class:"btn btn-primary" %>
  <br>
  <br>
  <%= button_to t("Delete comment"), @comment, method: :delete ,class:"btn btn-primary" %>

<br>
  <%= link_to t("Back to posts"), posts_path ,class:"btn btn-primary" %>
</div>
</div>