<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :text, style: "display: block" %>
    <%= form.text_area :text %>
  </div>

  <div>
<<<<<<< HEAD
    <%= form.label :display, style: "display: block" %>
    <%= form.check_box :display, as: :boolean, checked_value: true, unchecked_value: false %>
    </div>

  <div>
=======
>>>>>>> a709b74bf9b6c020b68db7860e3e697ee6039a08
    <%= form.submit %>
  </div>
<% end %>
